@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12">
    <div class="thumbnail">
        <a href="~/Images/Love,Mommy.jpg" target="_blank">
            <img src="~/Images/Love,Mommy.jpg" class="img-circle " alt="Wild Life" style="height:50%" style="width:50%" >
            <div class="caption">
                
            </div>
        </a>
    </div>
</div>
