@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="text-center">
    <a href="~/Images/Love,Mommy.jpg" target="_blank">
        <img src="~/Images/Love,Mommy.jpg" class="rounded mt-5" alt="Wild Life" style="height:50%" style="width:50%">
    </a>
</div>            
