@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>About Patricia Kiefer</h1>
<a href="~/Images/Oceanrock.jpg" target="_blank">
    <img src="~/Images/Oceanrock.jpg" class="rounded float-left" alt="Ocean Rock" />
</a>
    <blockquote class="blockquote text-right">
        <p class="mb-0">
            If a picture paints a thousand words then the words describing an oil painting are infinite. Painting in the oil medium is my craft, my passion, and some say my obsession. When I'm not painting I'm thinking about either my current project or maybe the next project as I desire the scent of mineral spirits, the smooth blending of oil colors on my palate, and the pleasant surprise of depth and dimension which accompanies light and shadow. Although I have fed my creative desires in many different ways I have studied and created oil paintings over the last 10 years. Simply stated… I love to paint and I find it necessary to paint daily to satisfy my creative moods.


        </p>
        <footer class="blockquote-footer">Warm Regards, <cite title="Source Title">Patricia Kiefer</cite></footer>
    </blockquote>
