@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Patty K Detail";
      
}


<h1>@ViewBag.paintingTitle</h1>
<h2>Date: @ViewBag.date</h2>

<h5>Location:</h5>
<div>@ViewBag.location</div>
    
