@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{ 
    ViewBag.Title = "Index";
}

<h2>Gallery</h2>

<p>Hello from View Template</p>

<img src="~/Images/buffsFlatIron.jpg" alt="Flattys inside Buff Outline" />
<li>@Html.ActionLink("Outlined", "Outlined", "patty")</li>