@{
    Layout = null;

    var paintingTitle = "Spring Grand Lake";
    var date = 2012;
    var location = "Grank Lake, CO";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h1>@paintingTitle</h1>
        <h2>Date: @date</h2>

        <h5>Location:</h5>
        <div>@location</div>
    </div>
</body>
</html>
