@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Outlined";
}

<h2>Outlined Paintings</h2>

<img src="~/Images/buffsFlatIron.jpg" alt="Buffs Flatiron" />
<img src="~/Images/bearcub_gl.jpg" alt="Bear Cub" />
<img src="~/Images/night-sea.jpg" alt="Night Sea" />
<img src="~/Images/TuscanWindow.jpg" alt="Tuscan Window" />
<img src="~/Images/BearLake-Series3.jpg" alt="Bear Lake" />


